*{
	margin:10px;
	padding: 10px;
}

.main {
	width: 45%;
	background-color: whitesmoke;
}

.form-label {
	font-size: 20px;
}

table {
	width: 98%;
}

.remove {
	margin: 0;
	padding: 0;
	width: 100%;
	align-content: center;
	color: red;
	border-style: none;
	background-color: white;
}

.remove:hover {
	cursor: pointer;
}

.secondary {
	margin: 0;
	padding: 0;
	width: 90%;
	background-color: white;
}